build*
CMakeLists.txt.user

testing/.ipynb_checkpoints/
testing/decoded30/
testing/decoded80/
testing/encoded30/
testing/encoded80/
testing/jpeg30/
testing/jpeg80/

testing/encoded30switching/
testing/encoded80switching/
testing/decoded30switching/
testing/decoded80switching/

testing/decoded30switching_he/
testing/decoded80switching_he/
testing/encoded30switching_he/
testing/encoded80switching_he/

testing/jrec
testing/jrec-back
testing/jrec-back-swch
testing/jrec-back-swch-he
testing/jrec-swch
testing/jrec-swch-he