build*
CMakeLists.txt.user

testing/.ipynb_checkpoints/
testing/decoded30/
testing/decoded80/
testing/encoded30/
testing/encoded80/
testing/jpeg-recompress
testing/jpeg-recompress-back
testing/jpeg30/
testing/jpeg80/
testing/encoded30switching/
testing/encoded80switching/
testing/jpeg-recompress-back-switching
testing/jpeg-recompress-switching